.block {
    border-radius: 8px;
    background: rgb(90, 172, 205);
    background: linear-gradient(90deg, rgba(90, 172, 205, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: white;
    width: 45%;
    margin: 5px;
    padding: 5px;
}

.block h4 {
    font-size: 18px;
}

.block span {
    font-size: 24px;
    font-weight: bold;
}

.bar {
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    width: 93%;
    background-color: red;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background: rgb(90, 172, 205);
    background: linear-gradient(90deg, rgba(90, 172, 205, 1) 0%, rgba(0, 212, 255, 1) 100%);

}

form button {
    margin-top: 5px;
    background: rgb(90, 172, 205);
    background: linear-gradient(90deg, rgba(90, 172, 205, 1) 0%, rgba(0, 212, 255, 1) 100%);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
}